
.panel {
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
    text-align: center;
    align-items: center;
    transition: 
        font-size 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        flex 0.7s cubic-bezier(0.61, -0.19, 0.7, -0.11),
        background 0.2s;
    font-size: 1em;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100%;
  
    
}



.panel1 {
  background-image: url('/memory_game-animals.png');

}
.panel2 {
  background-image: url('/yoga_instructor.png');

}
.panel3 {
  background-image: url('/online_shop.png');

}
.panel4 {
  background-image: url('/online_shop.png');

}

.panel > * {
    min-height: 100%;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel > *:first-child {transform: translateY(-100%);}
.panel.openActive > *:first-child { transform: translateY(60%);}
.panel > *:last-child {transform: translateY(100%);}
.panel.openActive > *:last-child { transform: translateY(-70%);}

.panel.open {
    flex: 5;
    font-size: 1.5em;
}