@import "tailwindcss";

.font-mono {
  font-family: var(--font-geist-mono), monospace;
  color: white;
}

.font-permanent_marker {
  font-family: var(--font-permanent-marker);
}


@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient-move 5s linear infinite;
}
